{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/pass.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="profile-form-container">
        <img src="{% static 'images/Logos.png' %}" alt="Logo" class="logo">
        <h2>Forgot Your Password?</h2>
        <h3>Please Enter your email to continue</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter your registered email" class="form_input" required>
            </div>
            <button type="submit" class="btn-update">Send OTP</button>
        </form>
    </div>
</div>
{% endblock %}
